---
import "../styles/global.css";

// components
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Astro Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I'll put my Astro journey</p>

  <ul>
    <li>
      <a href="/posts/post-1">Post 1</a>
      <a href="/posts/post-2">Post 2</a>
      <a href="/posts/post-3">Post 3</a>
    </li>
  </ul>
</BaseLayout>
