---
import '../styles/global.css';

// components
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

//layout
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
<h2>This is a slot</h2>
</BaseLayout>
