---
// components
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Hamburger></Hamburger>
        <Navigation></Navigation>
    </nav>
</header>